body{
  font-family: Arial, Helvetica, sans-serif;
  background:#f4f6f9;
  margin:0;
}

.container{
  max-width:800px;
  margin:auto;
  background:white;
  padding:30px;
  margin-top:40px;
  border-radius:8px;
  box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

input{
  padding:10px;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:14px;
}

input:focus{
  outline:none;
  border:1px solid #0077ff;
}

button{
  padding:10px;
  border:none;
  border-radius:6px;
  background:#0077ff;
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:0.2s;
}

button:hover{
  background:#005ec7;
}

.serie-item{
  display:grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr auto auto;
  gap:10px;
  align-items:center;

  background:#f9f9f9;
  padding:12px;
  border-radius:6px;
  margin-bottom:10px;
}

nav{
  background:#222;
  padding:15px;
}

nav a{
  color:white;
  margin-right:20px;
  text-decoration:none;
  font-weight:bold;
}

nav a:hover{
  color:#00bfff;
}